{% extends 'layout.twig' %}
{% import 'app/layout/item.twig' as menu %}
{% block links %}
<link rel="stylesheet" href="/styles/app.css">
{% endblock %}
{% block scripts %}
<script>
	localStorage.clear();
	localStorage.setItem('base',  '{{ base_url() }}{{ api|default("/app") }}');
	localStorage.setItem('jwtToken', '{{session("jwtToken", true)}}');
	localStorage.setItem('csrfToken', '{{ csrf.value }}');
	localStorage.setItem('csrfKey', '{{ csrf.name }}');
</script>
<script type="text/javascript" src="/scripts/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/semantic/components/transition.min.js"></script>
<script type="text/javascript" src="/scripts/semantic/components/popup.min.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
{% endblock %}

{% block body %}
{% set user = session('user') %}
<div id="app-nav">
	<ul id='app-menu'>
		{{ menu.item('dashboard', 'dashboard') }}
		{{ menu.item('inventory', 'database') }}
		{{ menu.item('invoice', 'file text outline') }}
		{{ menu.item('orders', 'shopping cart') }}
		{{ menu.item('shipping', 'shipping') }}
		{{ menu.item('apps', 'grid layout') }}
		<li id="app-profile">
			<a>
				<div class="ui inverted mini statistic">
					<div class="value">
						<center>
							<img class="ui mini circular image white" src="/{{
								user.photo is defined ? 'uploads' : 'images'
							}}/{{
								user.photo|default('user.png')
							}}">
						</center>
					</div>
					<div class="label">{{ user.username|default('USER')|truncate(8) }}</div>
				</div>
			</a>
		</li>
	</ul>
</div>
<div id="app-popup-container">
    <div id="app-popup">
    	<div class="row">
	        <a class="ui circular fluid button" href="{#{{ path_for('profile') }}#}">
	            <i class="user icon"></i>
	            <span>Profile</span>
	        </a>
	    </div>
	    <div>
	        <a class="ui circular red button" href="{{ path_for('signout') }}" onclick="localStorage.clear()">
	            <i class="sign out icon"></i>
	            <span>Log out</span>
	        </a>
	        <a class="ui circular icon button" href="{#{{ path_for('settings') }}#}">
	            <i class="setting icon"></i>
	        </a>
	    </div>
    </div>
</div>
<div id="app-content">
	<div class="ui container" id='app-container'>{% block container %}{% endblock %}</div>
</div>
{% endblock %}